<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Listado</title>
<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="table-container" align="center">
		<h1>Listado</h1>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Carnet</th>
					<th>Carrera</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estudiante, row:${estudiantes}">
					<td th:text="${estudiante.nombre}">Nombre</td>
					<td th:text="${estudiante.apellido}">Apellido</td>
					<td th:text="${estudiante.carnet}">Carnet</td>
					<td th:text="${estudiante.carrera}">Carrera</td>
					<td>
						<a th:href="@{/eliminar/} + ${estudiante.codigoEstudiante}">
							<input class="delete-buttom" type="submit"  value="Eliminar" >
						</a>
						
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="buttom-container">
			<a th:href="@{/inicio}">
				<input class="back-buttom" type="submit"  value="Agregar estudiante" >
			</a>
		</div>
	</div>	

</body>
</html>